{% extends 'base.html' %}

{% block head %}

<Title>Bad Yelp</Title>
{% endblock %}

{% block body %}

<div class="content">
    <div class="parallax">
    </div>
    
    <div class="textMainPage ">
        <h1>Bad Yelp</h1>
        
        <h4>Welcome to Bad Yelp!</h4>
        
        <h4>Search for a bad food place!</h4>
        <br>
        <br>
        <h5>You'll find all the destinations are subpar</h5>
        <br>
        <br>
    </div>
    <div class="parallax"></div>
    <br>
    <br>
    
</div>
{% endblock %} 


