{% extends 'base.html' %}

{% block head %}

<Title>Bad Yelp</Title>
{% endblock %}

{% block body %}


<div class="content">
    <div class="parallax">
    </div>
    {% if tasks|length < 1 %}
    <div class="textMainPage ">
        <h1>Bad Yelp</h1>
        
        <h4>Welcome to Bad Yelp!</h4>
        
        <h4>Search for a bad food place!</h4>
        <br>
        <br>
        <h5>You'll find all the destinations are subpar</h5>
        <br>
        <br>
    </div>
    <div class="parallax"></div>
    <br>
    <br>
    <h2>Feel free to explore these links!</h2>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}   
    </table>
    {% endif %}   
    <!-- <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content" >
            <input type="submit" value="Add Task">
        </form>
    </div> -->
</div>
{% endblock %}
